<div class="row d-flex justify-content-center align-items-center">
    <div class="col-4 py-5 card">
        <div class="container">
                                    <h2 class="login-title">Log in</h2>

            <form class="login-form" action="/api/login" method="post">
                <div>
                    <label for="email">Email </label>
                    <input id="email" type="email" placeholder="me@example.com" name="email" required />
                </div>

                <div>
                    <label for="password">Password </label>
                    <input id="password" type="password" placeholder="password" name="password" required />
                </div>

                <button class="btn btn--form" type="submit">
                    Log in
                </button>
            </form>
        </div>
    </div>
</div>