<div class="container d-flex">
    <div class="row justify-content-center align-self-center w-100">
        <div class="col-md-8 col-lg-6 text-center">
            <div class="card shadow-sm p-4">
                <div class="card-body">
                    <h1 class="display-4 text-danger">Oops!</h1>
                    <p class="lead">Something went wrong.</p>
                    <p class="text-muted">
                        <%= message %>
                    </p>
                    <a href="/" class="btn btn-primary mt-3">Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</div>