body {
    background-color: #674bb1;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-image: url('../images/bg-mobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-title {
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #000;
}

.login-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    background-color: rgba(103, 75, 177, 0.5);
}

.login-form input::placeholder {
    color: #000;
}

.login-form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
}

.btn--form {
    background-color: #6f4cba;
    align-self: end;
    padding: 8px;
    color: #fff;
}

.login-form>.btn,
.login-form>.btn:link,
.login-form>.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
}

.login-form>button {
    outline: 1px solid #6f4cba;
}

.login-form>button:hover {
    background-color: #884ecc;
    color: #fff;
}

.hero-title {
    text-align: left;
    padding: 30px 0px;
    color: #fff;
}

.hero-title h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-title p {
    font-size: 1.25rem;
    max-width: 800px;
    margin: 0 auto;
}
.hero-buttons {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    color: #aa4dbc;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.job-seeker-btn {
    border: 2px solid #fff;
}

.employer-btn {
    border: 2px solid #fff;
}

.btn:hover {
    color: #fff;
    background-color: #674bb1;
    border: 2px solid #fff;
}